{% load tailwind_cli %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat Starter</title>
    {% tailwind_css %}
  </head>
  <body class="bg-gradient-to-br min-h-screen flex flex-col">
    <div
      class="flex-grow flex flex-col h-screen"
      hx-ext="ws"
      id="chat-container"
      _="on htmx:wsAfterMessage set #messageInput.value to '' then call scrollToLastMessage() end 
    on htmx:wsClose alert('WebSocket connection closed.') end
    on htmx:wsError alert('WebSocket connection error.') end
    on htmx:wsOpen log 'WebSocket connection opened.' end
    "
    >
      <div class="bg-gradient-to-r from-indigo-500 to-purple-600 p-4 shadow-lg">
        <h1 class="text-2xl font-bold text-white text-center">
          Chat Starter
        </h1>
      </div>

      <div
        id="messageLog"
        class="flex-grow overflow-y-auto p-4 space-y-4"
      ></div>

      <form ws-send class="p-4 bg-gray-50 border-t border-gray-200">
        <div class="flex space-x-2">
          <input
            type="text"
            id="messageInput"
            name="content"
            placeholder="Type a message..."
            class="flex-grow px-4 py-2 rounded-full border border-gray-300 focus:outline-none focus:ring-2 focus:ring-purple-500"
          />
          <input type="hidden" name="response_id" value="0" id="response_id" />
          <input
            type="submit"
            value="Send"
            class="bg-gradient-to-r from-purple-600 to-indigo-600 text-white px-6 py-2 rounded-full hover:opacity-90 transition duration-300 ease-in-out transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-purple-500"
          />
        </div>
      </form>
    </div>

    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/ws.js"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <script>
      // Generate a unique chat ID on page load 
      const chatId = crypto.randomUUID().replace(/-/g, "");
    
      // base url comes from the django template
      const baseUrl = "{{ base_url }}" + "/ws/llm-chat-websocket/" + chatId;
      // Set the WebSocket connection URL with the generated chat ID
      const chatContainer = document.getElementById("chat-container");
      
      // encode dynmaic classes in the url as parameters
      let url_params = {
          "assistant_outdiv": "flex items-start",
          "assistant_innerdiv" :  "bg-blue-100 rounded-lg p-3 max-w-[80%]",
          "assistant_p_style": "text-sm text-blue-800",
          "user_outdiv": "flex items-start justify-end",
          "user_innerdiv": "bg-purple-100 rounded-lg p-3 max-w-[80%]",
          "user_p_style": "text-sm text-purple-800",
        }
      // encode the url parameters
      url_params = encodeURIComponent(JSON.stringify(url_params));
      chatContainer.setAttribute("ws-connect", baseUrl + "?dynamic-classes=" + url_params);

       
      htmx.process(chatContainer);
      
       // chatContainer.setAttribute("ws-connect", `ws://127.0.0.1:8001/ws/llm-chat-websocket/${chatId}` + "?dynamic-classes=" + url_params);
       function scrollToLastMessage() {
        const messageLog = document.getElementById('messageLog');
        if (messageLog.lastElementChild) {
            messageLog.lastElementChild.scrollIntoView({ behavior: 'smooth' });
            messageLog.scrollTop = messageLog.scrollHeight;
        }
    }
    </script>
    
  </body>
</html>
